<%- include header %>
<div class="col-md-9">
    <% var lastYear = 0 %>
    <% posts.forEach(function (post, index) { %>
        <div class="well">
            <% if(lastYear != post.time.year) { %>
            <li><h3><%= post.time.year %></h3></li>
            <% lastYear = post.time.year } %>
            <li><time><%= post.time.day %></time></li>
            <li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
        </div>
    <% }) %>
</div>
<%- include footer %>